-var menu=["Post","Acerca de","Contacto"]

-var planets=["Mercurio","Venus","Tierra","Marte","Jupiter","Saturno","Urano","Neptuno"]

mixin planet(name, alternative_1, alternative_2, title, description)
  .planet 
    .planet__view 
      h2.planet__name= name
      img(src="images/Planets/" + name + ".png" alt= alternative_1 ).planet__image
    .planet__information(style= "background-image: url(images/Background/Mobile/" + name + ".png)" alt= alternative_2)
      p= title
      p= description

      


      
