footer(id="contact")
  .contact 
    h3.followme Sígueme
    .media
      a(href="https://twitter.com/_Luigui___" target="blank").media__twiter
      a(href="https://github.com/luigui-arc" target="blank").media__github
      a(href="https://www.linkedin.com/in/luis-rodr%C3%ADguez-7099401b6/" target="blank").media__linkedln
  
  form.contact
    h3 Escribeme 
    input(type="email" placeholder="Email")
    input(type="text" placeholder="Escribe tu mensaje...").input__message
    input(type="button" value="Enviar").input__button
