header.home
  ul
    li
      a(href="#post") #{menu [0]}
        span 
    li 
      a(href="Docs/Bluedot - Manual de identidad.pdf" target="_blank") #{menu[1]}
        span 
    li
      a(href="#contact") #{menu [2]}
        span 
  img(src="images/logo.png" alt= "\"Bluedot\"").logo
  img(src="images/portada.jpg" alt= "Atmósfera terrestre").portada
  
.home__mobile 
  img(src="images/logo__responsive.png" alt= "\"Bluedot\"").logo--responsive
  img(src="images/portada__mobile.jpg" alt= "Planeta tierra con la luna al fondo").portada--mobile