header.home
  ul
    li
      a(href="#post") #{menu [0]}
        span 
    li 
      a(href="Docs/Bluedot - Manual de identidad.pdf" target="_blank") #{menu[1]}
        span 
    li
      a(href="#contact") #{menu [2]}
        span 
  img(src="images/logo.png").logo
  img(src="images/portada.jpg").portada
  
.home__mobile 
  img(src="images/logo__responsive.png").logo--responsive
  img(src="images/portada__mobile.png").portada--mobile