h2.planet_name{
    font-size: 60pt;
    
    margin-bottom: -6%;
    margin-top: 2%;
    font-family: Nunito;
    font-weight: 800;    
}
.bluedot-logo{
    display: flex;    
    margin-left: 60px;
    position: absolute;
    margin-top: -100px;    
    z-index: 2;
    width: 400px;
    height: auto;
    
}