body{
    background-color: black;
    margin: 0px;
}
h1,
h2,
h3,
h4{
    color: white;
}
h1{   
    
    position: absolute;
    z-index: 2;
    font-family: Nunito;
    font-weight: 800;
}

h2.planet_name{
    font-size: 70pt;
    
    margin-bottom: -6%;
    margin-top: 2%;
    font-family: Nunito;
    font-weight: 800;    
}
h3{
    display: block;
    width: 50%;
    text-align: center;
    margin: 50px;
}
h4,
a
{
    font-family: Nunito;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

p{
    font-family: Nunito;
    font-weight: 400;
}
.bluedot-logo{
    display: flex;    
    margin-left: 75px;
    position: absolute;
    margin-top: -100px;    
    z-index: 2;
    width: 450px;
    height: auto;
    
}
.home{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
}
.background_container{
    height: auto;
    width: auto;
    margin-bottom: 1px;
}
.portada{  
    position: relative;    
    width: 100%;
    height: auto;
    object-fit: contain;  
}
.bluedot{
    position: absolute;
    z-index: 2;
    
}
span{
    color: blue;
    
}


ul{
    color: white;
    width: 90%;
    display: flex;    
    justify-content: flex-end;
    position: absolute;
    z-index: 2;
}
li{
    display: flex;
    margin-left: 40px;
}
p{
    color: white;
}

.solar_system{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}
.informacion{
    width: 28%;
    height: 450px;   
    border-radius: 20px;
    
    text-align: center;
}
div.planeta{
    
    width: 42%;
    text-align: center;
    
}

img.planeta{
    width: 95%;
    height: auto;
    margin-top: -15px;
}
.m-degraded{
    background-image: url("../IMG_Bluedot/Background/01.-Mercury_Degraded.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.v-degraded{
    background-image: url("../IMG_Bluedot/Background/02.-Venus_Degraded.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.e-degraded{
    background-image: url("../IMG_Bluedot/Background/03.-Earth_Degraded.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.mrs-degraded{
    background-image: url("../IMG_Bluedot/Background/04.-Mars_Degraded.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.j-degraded{
    background-image: url("../IMG_Bluedot/Background/05.-Jupiter_Degradado.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.s-degraded{
    background-image: url("../IMG_Bluedot/Background/06.-Saturn_Degraded.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.u-degraded{
    background-image: url("../IMG_Bluedot/Background/07._Uranus_Degraded.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.n-degraded{
    background-image: url("../IMG_Bluedot/Background/08.-Neptune_Degraded.png");
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    width: 100%;
    height: 300px;
    background-color: #0071bc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-follow{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    align-items: center;
    justify-content: center;
}
input{
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-decoration: none;
    border-color: white;
    border-style: solid;
    font-family: Nunito;
    font-weight: 400;
}
.button{
    width: 150px;
    height: 30px;
}
.message{
    height: 90px;
}
