extend modules/template.pug 
block content  
  
  .blackHole
    h2.title= '¿Qué hay de especial en esta imagen?'
    .image
      img(src="images/news/Sagitario A.jpg", alt="Imagen de Sagitario A*, el agujero negro de nuestra galaxia" class="blackHole_image")
      .fade
    .redaction
      p.captions= 'Agujeros negros, abuelos estelares' 
      p= 'Sagitario A*, el suejo de nuestra fotografía, es el agujero negro que ayudó a formar nuestra galaxia.'
      p.captions= 'Seguir leyendo'

  article.solarsystem(id="post")
    +planet(planets[0],
      'Planeta ' + planets[0],
      "Fondo de color Azul",
      'Mensajero alado', 
      'Por ser el planeta más cercano al sol su órbita es muy reducida completando una vuelta en tan solo 88 días terrestres. Esto provoca que desde la tierra sea visible solo por un par de semanas, por su repidez los antiguos griegos decían que era el mensajero de los dioses')

    +planet(planets[1],
      'Planeta ' + planets[1],
      "Fondo de color naranja",
      'Diosa del amor y la belleza',
      'Los griegos nombraron a este planeta como afrodita, diosa del amor y la belleza. Afrodita tomó su nombre por ser el más bello y brillante de los cinco planetas conocidos por los astrónomos antiguos,  su qeuivalente romano fue la diosa Venus')

    +planet(planets[2],
      'Planeta ' + planets[2],
      "Fondo de color azul marino",
      'Un pálido punto azul en el espacio', 
      '\"Mira de nuevo ese punto. Ese que está aquí. Ese es nustro hogar. Ese somos nosotros, En él, todos los que amas, todos los que conoces, todos de los que has oído hablar, cada ser humano que haya existido, vivió su vida ahí\" Palabras de Carl Sagan, quien comparó a la tierra como una mota de polvo suspendida en un rayo de sol')

    +planet(planets[3],
      'Planeta ' + planets[3],
      "Fondo de color rojo",
      'Dios de la guerra',
      'En el cielo nocturno, Marte se observa como una estrella roja y en la Grecia clásica lo relacionaron con el color de la sangre, es por eso que nombraron a este planeta en honor a su dios de la guerra Ares, que posteriormente sería heredado por los Romanos con el nombre Marte.')

    +planet(planets[4],
      'Planeta ' + planets[4],
      "Fondo color durazno",
      'Padre de todos los dioses',
      'Este planeta enorme recibe su nombre del dios romano Júpiter, el Zeus de la mitología griega. Tiene una composición semejante a la del Sol, formada principalmente por hidrógeno y helio. Júpiter es también el planeta más viejo del Sistema Solar, incluso más antiguo que el propio Sol. Su núcleo sólido se formó cuando la nebulosa solar todavía no se había condensado en nuestra estrella. La presencia de ese núcleo fue clave en la dinámica del disco de acreción que acabó formando el Sol.')

    +planet(planets[5],
      'Planeta ' + planets[5],
      "Fondo color blanco",
      '\"El planeta más distante conocido\"',
      'El nombre del planeta proviene del dios romano de la agricultura, Saturno, padre de Júpiter. Su equivalente griego era Cronos, padre de Zeus. Como Saturno se mueve por el cielo tres veces más lento que Júpiter, los astrónomos antiguos le identificaron, naturalmente, con su anciano padre. Es uno de los cuatro gigantes gaseosos, todos ellos planetas con anillos, aunque los de Saturno son más grandes y brillantes. Antes de que se inventara el telescopio era el planeta conocido más lejano.')

    +planet(planets[6],
      'Planeta ' + planets[6],
      "Fondo color verde",
      'Primer planeta descubierto con un telescopio',
      'Urano ocupa un lugar en el cielo y en la literatura desde tiempos de la Grecia Clásica. Recibe su nombre en honor a Ouranos, un titan en la mitología griega que personificaba el cielo; pero hubo que esperar hasta 1781 para que astrónomo William Herschel anunciara el descubrimiento del que sería el primer planeta descubierto por un telescopio, y no por la trayectoria que describía en el cielo, tal y como fueron descubiertos el resto de planetas hasta entonces conocidos.')

    +planet(planets[7],
      'Planeta ' + planets[7],
      "Fondo color azul",
      'Último planeta del sistema solar',
      'Por la distancia Neptuno era invisible para los astronomos antiguos, fue hasta 1846 cuando un Galle lo descubrió y al ver su color azul versdoso lo nombró en nombre del dios Romano de los mares Neptuno')
