h2.planet_name{
    font-size: 16pt;
    margin-bottom: 24pt;
}
p{
    font-size: 11pt;
}
@keyframes fade-in{
    from{
        opacity: 0;
    }

    30%{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.home{
    display: none;
    position: relative;
}
.home-mobile{
    display: flex;
    align-items: flex-end;
    margin-bottom: 33%;
}
.logo-responsive{
    width: 50%;
    height: auto;
    z-index: 2;
    position: absolute;
    animation-name: fade-in;
    animation-duration: 4s;
}
.portada-mobile{
    width: 100%;
    height: auto;
    animation-name: fade-in;
    animation-duration: 6s;
}
.solar_system{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.planeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 44%;
    width: 66%;
    margin-top: 10%;
}
.informacion{
    padding: 16%;
    width: 68%;
    height: 44%;
}
.m-degraded{
    background-image: url("IMG_Bluedot/Background/Mobile/1.-Mercury_Mobile.png");
}
.v-degraded{
    background-image: url("IMG_Bluedot/Background/Mobile/2.-Venus_Mobile.png");
}
.e-degraded{
    background-image: url("IMG_Bluedot/Background/Mobile/3.-Earth_Mobile.png");
}
.mrs-degraded{
    background-image: url("IMG_Bluedot/Background/Mobile/4.-Mars_Mobile.png");
}
.s-degraded{
    background-image: url("IMG_Bluedot/Background/Mobile/5.-Jupiter_Mobile.png");
}
.j-degraded{
    background-image: url("IMG_Bluedot/Background/Mobile/6.-Saturn_Mobile.png");
}
.u-degraded{
    background-image: url("IMG_Bluedot/Background/Mobile/7.-Uranus_Mobile.png");
}
.n-degraded{
    background-image: url("IMG_Bluedot/Background/Mobile/8.-Neptune_Mobile.png");
}