h2 {
  font-size: 16pt;
  margin-bottom: 24pt;
  text-align: center;
}

h3 {
  margin: 0;
}

p {
  font-size: 13pt;
  text-align: left;
  margin-bottom: 22px;
}

.captions {
  text-align: center;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home {
  display: none;
  position: relative;
}

.home__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 66%;
}

.logo--responsive {
  width: 50%;
  height: auto;
  z-index: 2;
  position: absolute;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.portada--mobile {
  width: 100%;
  height: auto;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.blackHole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}
.blackHole .title {
  width: 90%;
}
.blackHole_image {
  width: 90%;
  border-radius: 10px;
}
.blackHole .redaction {
  padding: 60px;
  width: calc(80% - 60px);
}

.planet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.planet__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44%;
  width: 66%;
  margin-top: 10%;
}
.planet__view img {
  width: 95%;
  height: auto;
  margin-top: -10px;
}
.planet__information {
  padding: 60px;
  width: calc(100% - 120px);
}

footer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  width: auto;
  padding: 16%;
  margin-top: 66%;
  border-radius: 20px 20px 0 0;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin: 15px;
  display: flex;
  margin-bottom: 16%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
form input {
  width: 100%;
}