body {
  background-color: black;
  font-family: "nunito";
  color: white;
  margin: 0;
}

h2 {
  font-size: 60pt;
  font-weight: 800;
  color: white;
}

h3 {
  font-size: 14pt;
  font-weight: 700;
}

p {
  font-size: 13pt;
  font-weight: 400;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #acacac;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  z-index: 3;
  right: 60px;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.home ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 30px 0px 30px;
}
.home ul a {
  font-size: 1em;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  text-decoration: none;
  color: white;
}
.home ul a span {
  position: absolute;
  display: block;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: white;
}
.home ul a:hover span {
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.home__mobile {
  display: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 75px;
  position: absolute;
  top: 30%;
  z-index: 2;
  width: 32%;
  height: auto;
  margin-top: 0;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.portada {
  position: relative;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 8%;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.solar_system {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 100px;
}

.planet {
  width: 42%;
  text-align: center;
  margin-bottom: 100px;
}
.planet__view {
  width: 95%;
  height: auto;
  margin-top: -15px;
}
.planet__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24%;
  height: 420px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}
.planet__information .background {
  -o-object-fit: cover;
     object-fit: cover;
}
.planet__information .letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #005eb8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .contact {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .contact input {
  width: 300px;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-decoration: none;
  border-color: white;
  border-style: solid;
  font-weight: 400;
}
footer .contact input__message {
  padding-bottom: 90px;
}
footer .contact input__button {
  width: 150px;
  height: 30px;
}
footer .contact .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}
footer .contact .media .followme {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .contact .media__twiter {
  background-image: url("IMG_Bluedot/social twiter.png");
}
footer .contact .media__github {
  background-image: url("IMG_Bluedot/social github.png");
}
footer .contact .media__linkedln {
  background-image: url("IMG_Bluedot/social linkedin.png");
}