$font: "nunito";

$colour: "#005eb8";

$color--text:white;

$color--background: black;

body {
    background-color: $color--background;
    font-family: $font;
    color: $color--text;
    margin: 0;
  }
  h2{
    font-size: 45pt;
    font-weight: 700;
    color: $color--text;
    margin: 0;
    text-transform: uppercase;
  }
  h3{
    font-size: 14pt;
    font-weight: 700;
  }
  
  p{
    font-size: 13pt;
    font-weight: 400;
    margin: 0;
  }

@keyframes fade-in{
  from{
      opacity: 0;
  }
  30%{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

::-webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgb(97, 97, 97);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: rgb(172, 172, 172);
}

//Icon fonts
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hkxmxk');
  src:  url('fonts/icomoon.eot?hkxmxk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hkxmxk') format('truetype'),
    url('fonts/icomoon.woff?hkxmxk') format('woff'),
    url('fonts/icomoon.svg?hkxmxk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  .icon-instagram:before {
  content: "\e902";
  }
  .icon-linkedin:before {
  content: "\e901";
  }
  .icon-github:before {
  content: "\eab0";
}
