$font: "nunito";

$colour: "#005eb8";

$color--text:white;

$color--background: black;

body {
    background-color: $color--background;
    font-family: $font;
    color: $color--text;
    margin: 0;
  }
  h2{
    font-size: 45pt;
    font-weight: 700;
    color: $color--text;
    margin: 0;
    text-transform: uppercase;
  }
  h3{
    font-size: 14pt;
    font-weight: 700;
  }
  
  p{
    font-size: 13pt;
    font-weight: 400;
    margin: 0;
  }

@keyframes fade-in{
  from{
      opacity: 0;
  }
  30%{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

::-webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgb(97, 97, 97);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: rgb(172, 172, 172);
  }

