


.planet{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    &__view{
        width: 42%;
        text-align: center;
        img{
            width: 95%;
            height: auto;
            margin-top: -10px;
        }
    }
    &__information{
        width: 24%;
        height: 420px;
        padding: 40px;   
        border-radius: 20px;
        text-align: center;        
        background-size: cover;
    }
}