
.home{
    display: none;
    position: relative;
}
.home__mobile{
    display: flex;
    align-items: flex-end;
    margin-bottom: 66%;
}
.logo--responsive{
    width: 50%;
    height: auto;
    z-index: 2;
    position: absolute;
    animation-name: fade-in;
    animation-duration: 4s;
}
.portada--mobile{
    width: 100%;
    height: auto;
    animation-name: fade-in;
    animation-duration: 6s;
}