.blackHole{
	display: flex;
	flex-direction: column;
	align-items: center;
    width: auto;
	.title{
		width: 90%;
	}
	&_image{
		width: 90%;
		border-radius: 10px;
	}
	.redaction{
		padding: 60px;
		width: calc(80% - 60px);
	}
}
.planet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__view{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 44%;
        width: 66%;
        margin-top: 10%;
        img{
            width: 95%;
            height: auto;
            margin-top: -10px;
        }
    }
    &__information{
        padding: 60px;
        width: calc(100% - 120px);
    }
}
